.quillContainer, .inputContainer{
    background: white;
    .quill{
        background-color: #ececec;
    }
    .ql-container{
        border: 1px solid #eceff1;
        width: 50%;
        margin: auto;
        margin-top: 20px;
        border-radius: 1px;
        height: 76vh;
        background: white;
        @media screen and (max-width: 768px) {
            width: 95%;
        }
        @media screen and (min-width: 769px) and (max-width: 1200px){
            width: 75%;
        }
    }
    .ql-toolbar.ql-snow{
        background-color: white;
    }
}