@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
}

body {
  height: 100%;
  /* background-color: rgb(46, 45, 45); */
  /* background-color: #c4c4f1; */
  background-image: url('./assets/img/peakpx.jpg');
}

.box {
  overflow: hidden;
  position: relative;
  width: 20rem;
  height: 30rem;
  background-position: center top;
  background-image: url('https://images.unsplash.com/photo-1496979551903-46e46589a88b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cda12b505afa1beb06e49d89014cbd65&auto=format&fit=crop&w=634&q=80');
}

.tag {
  background-color: aquamarine;
}


.quill .ql-toolbar.ql-snow {
  padding: 15px;
  border-top: none;
  /* width: 80%;
  margin: auto; */
}

/* #f5f5f5 */

@media screen and (max-width: 768px) {
  #mobile-navContainer {
    z-index: 20;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    /* display: none; */
    /* opacity: 0; */
  }
}

#mobile-navContainer{
  display: none;
}

body > div {
  backdrop-filter: blur(5px);
}